# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/JuegoGato/nbproject/private/
/JuegoGato/build/
/TicTacToe/nbproject/private/
/TDAEsfera/nbproject/private/
/TDAEsfera/build/
/MemoriaDinamica/nbproject/private/
/MemoriaDinamica/build/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/TorresdeHanoi/nbproject/private/
/TorresdeHanoi/build/
/ListasEnlazadas/nbproject/private/
/ListasEnlazadas/build/
/ListaDoblementeEnlazada/nbproject/private/
/ListaDoblementeEnlazada/build/
/JavaFX/nbproject/private/
/JavaFX/build/
/JavaFX/dist/
/JavaFXsinFX/nbproject/private/
/JavaFXsinFX/build/
/JavaFXEventHandler/nbproject/private/
/JavaFXEventHandler/build/
/JavaFXSwitchingScenes/nbproject/private/
/JavaFXSwitchingScenes/build/
/JavaFXSwitchingScenes/dist/
/JButtonRollover/nbproject/private/
/JButtonRollover/build/
/JavaSwing/nbproject/private/
/JavaSwing/build/
/JavaExcercises/nbproject/private/
/JavaExcercises/build/
/SortingAlgorithms/nbproject/private/
/SortingAlgorithms/build/
/LibraryCatalogue/nbproject/private/
/LibraryCatalogue/build/
/LibraryCatalogue/dist/
/CRUDJava/nbproject/private/
/CRUDJava/build/